SECRET_KEY=""
FRONTEND_URL="http://localhost:3000"
# --- Postgres ---
POSTGRES_HOST=""
POSTGRES_PORT=
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""
# --- Redis ---
REDIS_HOST=""
REDIS_PORT=6379
REDIS_PASSWORD=""
REDIS_DB=0
# --- MinIO ---
MINIO_ACCESS_KEY_ID=""
MINIO_SECRET_ACCESS_KEY=""
# --- Admin ---
ADMIN_EMAIL="admin@admin.com"  # Почту можно любую, даже вымышленную
ADMIN_PASSWORD="admin"